---
import Layout from '@/layouts/Layout.astro'
import BackgroungImage from '@/components/BackgroungImage.astro'
import BlockHeader from '@/components/BlockHeader.astro'
import BlockHeroCategory from '@/components/BlockHeroCategory.astro'
import BlockNominees from '@/components/BlockNominees.astro'
import BlockExperts from '@/components/BlockExperts.astro'
import BlockStages from '@/components/BlockStages.astro'
import BlockCategories from '@/components/BlockCategories.astro'
import BlockSponsors from '@/components/BlockSponsors.astro'
import BlockFooter from '@/components/BlockFooter.astro'
import heroMain from '@img/hero-main-creative-project-year.jpg'
import heroMainMobile from '@img/hero-main-creative-project-year-mobile.jpg'

const title = 'Лучший <br> детский блогер <br> года'
const titleMobile = 'Лучший <br> детский <br> блогер года'
---

<Layout title="Блогема. Премия блогеров и инфлюенсоров">
  <BackgroungImage image={heroMain} imageMobile={heroMainMobile} />
  <BlockHeader />
  <main>
    <BlockHeroCategory title={title} titleMobile={titleMobile} />
    <BlockNominees color="pink" />
    <BlockExperts color="pink" />
    <BlockStages />
    <BlockCategories />
    <BlockSponsors />
  </main>
  <BlockFooter />
</Layout>

<style lang="scss">
  @import '/src/styles/global/index.scss';
</style>
