---
import Layout from '@/layouts/Layout.astro'
import BackgroungImage from '@/components/BackgroungImage.astro'
import BlockHeader from '@/components/BlockHeader.astro'
import BlockHero from '@/components/BlockHero.astro'
import BlockSponsors from '@/components/BlockSponsors.astro'
import BlockManifest from '@/components/BlockManifest.astro'
import BlockNominations from '@/components/BlockCategories.astro'
import BlockStages from '@/components/BlockStages.astro'
import BlockFooter from '@/components/BlockFooter.astro'
import heroMain from '@img/hero-main.jpg'
import heroMainMobile from '@img/hero-main-mobile.jpg'
---

<Layout title="Блогема. Премия блогеров и инфлюенсоров">
  <BackgroungImage image={heroMain} imageMobile={heroMainMobile} />
  <BlockHeader />
  <main>
    <BlockHero />
    <BlockSponsors />
    <BlockManifest />
    <BlockNominations />
    <BlockStages />
  </main>
  <BlockFooter />
</Layout>

<script>
  import { gsap } from 'gsap'
  import { ScrollTrigger } from 'gsap/ScrollTrigger'

  gsap.registerPlugin(ScrollTrigger)
</script>

<style lang="scss">
  @import '/src/styles/global/index.scss';
</style>
