---
import { Picture } from 'astro:assets'
import logoPresident from '@img/sponsor-president.png'
import logoInvite from '@img/sponsor-invite.png'
import logoVk from '@img/sponsor-vk.png'
import logoSts from '@img/sponsor-sts.png'
import logoSmm from '@img/sponsor-smm.png'
import russianBlogger from '@img/sponsor-russian-blogger.png'
import logoAba from '@img/sponsor-aba.png'

const brands = [
  {
    img: logoPresident,
    class: 'logo-president'
  },
  {
    img: logoInvite,
    class: 'logo-invite',
    text: 'guest-management партнер'
  },
  {
    img: logoVk,
    class: 'logo-vk',
    text: 'официальная социальная сеть премии'
  },
  {
    img: logoSts,
    class: 'logo-sts',
    text: 'тв-партнёр'
  },
  {
    img: logoSmm,
    class: 'logo-smm',
    text: 'SMM-партнер'
  },
  {
    img: russianBlogger,
    class: 'logo-bloggers'
  },
  {
    img: logoAba,
    class: 'logo-aba'
  }
]
---

<section class="wrp" id="sponsors">
  <div class="content">
    {
      ['list1', 'list2'].map((line) => (
        <div class:list={['list', line]}>
          {brands.map((it) => (
            <div class="item">
              <div class="logo">
                <Picture
                  class={it.class}
                  formats={['avif', 'webp']}
                  src={it.img}
                  alt=""
                />
              </div>
              <div class="label">{it.text}</div>
            </div>
          ))}
        </div>
      ))
    }
  </div>
</section>

<style lang="scss">
  @use 'sass:color';
  @import '/src/styles/global/index.scss';
  .wrp {
    padding: 0 $apx-108;
    @include mobile {
      padding: 0;
    }
  }
  .content {
    @include mobile {
      @include hide-scroll();
      display: flex;
      overflow-x: hidden;
    }
  }
  .list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &.list2 {
      display: none;
    }
    @include mobile {
      flex-shrink: 0;
      gap: $apx-m-24;
      padding: 0 $apx-m-12;
      &.list1 {
        animation: running-line1 20s infinite linear;
        animation-delay: -20s;
      }
      &.list2 {
        display: flex;
        animation: running-line2 20s infinite linear;
        animation-delay: -10s;
      }
    }
  }
  .item {
    @include text-nowrap;
    width: max-content;
  }
  .logo {
    display: grid;
    place-items: center;
    height: $apx-68;
    img {
      height: auto;
    }
    .logo-president {
      width: $apx-273;
    }
    .logo-invite {
      width: $apx-156;
    }
    .logo-vk {
      width: $apx-274;
    }
    .logo-sts {
      width: $apx-129;
    }
    .logo-smm {
      width: $apx-84;
    }
    .logo-bloggers {
      width: $apx-123;
    }
    .logo-aba {
      width: $apx-74;
    }
    @include mobile {
      height: $apx-m-44;
      .logo-president {
        width: $apx-m-180;
      }
      .logo-invite {
        width: $apx-m-103;
      }
      .logo-vk {
        width: $apx-m-181;
      }
      .logo-sts {
        width: $apx-m-85;
      }
      .logo-smm {
        width: $apx-m-53;
      }
      .logo-bloggers {
        width: $apx-m-82;
      }
      .logo-aba {
        width: $apx-m-49;
      }
    }
  }
  .label {
    margin-top: $apx-4;
    font-size: $apx-12;
    line-height: $apx-14;
    font-weight: 400;
    text-align: center;
    color: color.adjust($color-white, $alpha: -0.5);
    text-transform: uppercase;
    @include mobile {
      margin-top: $apx-m-2;
      font-size: $apx-m-9;
      line-height: $apx-m-11;
    }
  }
  @keyframes running-line1 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes running-line2 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
</style>
